body{background-color: lightblue;
background-image: url(../imagenes/fondo.jpg);}
h1{
  border: solid;
  color: white;
  font-size: 42px;
  font-family:"Courier New", monospace;
  text-align: center;
  text-decoration: underline;}
p{
  ;font-family:"Courier New", monospace;
  ;font-size: 20px;
  text-align: justify;}
.rosa {
  color: white;
  font-family:"Courier New", monospace;
  font-size: 29px;
   text-decoration: underline;
   text-align: center;}
.violeta{
  color: white;
  font-family:"Courier New", monospace;
  font-size: 29px;
  text-decoration: underline;
  text-align: center;}
.verde {
  ;font-family:"Courier New", monospace;
  font-size: 16px;}
.amarillo{
  ;font-family:"Courier New", monospace;
  font-size: 16px;}
img {width: 500px;}
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: 0.3s ease;
}
header{
 display: flex;
 justify-content: center;
 justify-content: space-around;
align-items: center;
flex-wrap: wrap;
height: 30vh;
}
.redes{
   width: 50px;}
.rs {
   display: flex; height: 40%;}
.logo{
   height: 80%;}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: auto;
}
.red {
  width: 20%;
}
.rss {
  display: flex;
  justify-content: center;
  font-weight: bold;
  height: 100px;
  width: auto;
}
.mapa {
max-width: 350px;
text-align: center;

}
.nombre {
  font-size: 23px;
  display: flex;
  order: 1;
}

.sec {
  display: flex;
  justify-content: center;
}
.targetadeboostrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

}
